@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
 
}

p{
    text-align: center;
    font-size: 0.8rem;
    cursor: pointer;
}
P:hover{
    color:#16a085;
}

.u{
    margin-top: 20px;
}

.form-group{
    margin-top: 20px;
}
